<blockquote id="continents" style="display: none">
	<p>
		Total de continentes do mundo : <span class="badge badge-important">?</span>
	</p>
	<br />
	<select>
		<option value="">Selecione um Continente</option>
	</select>
</blockquote>

<blockquote id="countries" style="display: none">
	<p>
		Total de países deste continente : <span class="badge badge-important">?</span>
	</p>
	<br />
	<select>
		<option value="">Selecione um País</option>
	</select>
</blockquote>

<blockquote id="states" style="display: none">
	<p>
		Total de cidades deste país : <span class="badge badge-important">?</span>
	</p>
	<br />
	<select>
		<option value="">Selecione uma Cidade</option>
	</select>
</blockquote>