<blockquote id="continents">
	<p>
		Total de continentes do mundo : <span class="badge badge-important">?</span>
	</p>
	<br />
	<select>
		<option>Selecione um Continente</option>
	</select>
</blockquote>