<div id="wrap">
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Serviços Restful com YQL</h1>
    </div>
    <p class="lead">
      <%= yield %>
    </p>
  </div>
</div>