<div id="footer">
  <div class="container">
    <p class="muted credit">
      Exemplo desenvolvido por <a href="http://igorrocha.com.br">Igor Rocha</a> e <a href="">Diego Farias</a>.
    </p>
  </div>
</div>

<%= javascript_include_tag "application" %>